<div class="well text-center">
	<h1>What's inside your fridge?</h1>
     <p class="message" 
        ng-show="message"> {{ message }}</p>
	<p>Click (or write) on the ingredient you have in your fridge. Or write down the dish you want to make.</p>
	<div class="center">
		<div ng-repeat="ingredient in ingredients | orderBy: '-weight'" class="ingredient suggested-ingredient ng-scope ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all ui-mini" ng-click="saveIngredient(ingredient.name)" id="ingredient-{{ingredient.name}}"> <span class="ng-binding"> {{ingredient.name}} <i class="fa fa-plus"></i> </span> </div><br />
	</div>
	<div class="ui-input-text ui-body-inherit ui-shadow-inset">
		<input type="text" id="writtenIngredients" ng-model="writtenIngredients" ng-keyup="saveWithEnter($event, writtenIngredients)"></input>
	</div>
	<div ng-if="clicked.length != 0">
		<h3>So far I have:</h3>
		<div ng-repeat='ingredient in clicked' class="ingredient suggested-ingredient ng-scope ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all ui-mini" ng-click="deleteIngredient(ingredient.name)" id="ingredient-{{ingredient.name}}"> <span class="ng-binding"> {{ingredient.name}} <i class="fa fa-minus"></i> </span> </div>
		<div class="ingredient suggested-ingredient ng-scope ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all ui-mini" ng-click="clearAllIngredient()">
			<span class="ng-binding"> Clear all <i class="fa fa-close"></i> </span>
		</div>
	</div>
</div>
<div ng-if="loading" class="container center"><img class="loading" src="img/loading.gif"></img></div></div>
<div class="jumbotron" ng-if="clicked.length != 0">
	<div class="container">
		<ul class="rig columns-3">
			<li ng-repeat="listItem in list" my-repeat-directive>
				<a target="_blank" href="{{listItem.source_url}}">
					<img src="{{listItem.image_url}}" />
					<h3>{{listItem.title}}</h3>
				</a>
				<em>{{listItem.publisher}}</em><br />
                <br />
				<div class="ingredient suggested-ingredient ng-scope ui-link ui-btn ui-btn-inline ui-shadow ui-corner-all ui-mini" ng-click="getIngredient(listItem.recipe_id)" ng-if="recipes[listItem.recipe_id] == null">
                    
					<span class="ng-binding"> Get ingredient</span>
				</div>
				<div>
					<ul>
						<li ng-repeat="ingredient in recipes[listItem.recipe_id].ingredients" my-repeat-directive>
							{{ingredient}}
						</li>
					</ul>
                    
				</div>
                <div class="buttons-lynda" ng-show="currentUser" ng-controller="recipiesController">
                     <button id="lynda" ng-click="showLove(listItem)">
                        
                    </button>
                    </div>
			</li>
		</ul>
		<!--<span ng-repeat="listItem in list" style="padding-left: 20px; padding-right: 20px; width: 200px; height: 300px;">
			<img src="{{listItem.image_url}}" style="max-width: 200px;">
		</span>
		<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
			<li ng-repeat="listItem in list" class="ui-li-has-thumb ">
				<a href="{{listItem.source_url}}" target="_blank" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
					<img src="{{listItem.image_url}}" class="ui-li-thumb">
					{{listItem.title}}
				</a>
			</li>
		</ul>-->
	</div>
	<!--<input type="button" ng-click="getMoreResults()" value="Get more results!"></input>-->
</div>